.row {
    margin: 0 !important;
}
.view-panel {
    height: 100vh;
}
.nav {
    padding: 0;
    background: rgb(67, 75, 80);
    color: #e09b05;
}
.nav a {
    color: #d1c301;
}
.nav a:hover {
    background-color: rgba(98, 110, 117, 0.719);
}
.nav-pills .nav-link.active {
    background-color: rgb(23, 64, 90);
    color: #abd101;
}
.tab-content {
    height: 100%;
}
.tab-content>div, .tab-content>div>div {
    height: 100%;
}
.new-users-list {
    height: 40vh;
}
.new-users-list section  {
    height: 30vh;
    overflow-y: scroll;
}
.users-list {
    height: 60vh;
}
.users-list section  {
    height: 50vh;
    overflow-y: scroll;
}
h3.col-12 {
    height: 5vh;
    margin: 0;
}
[class^="icon-"] {
    font-size: 5vh;
}
::-webkit-scrollbar{
    width:6px;
}
::-webkit-scrollbar-thumb{
    border: 0;
    background-color: #aaa;
    border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #777;
}
::-webkit-scrollbar-track{
    border-width:0;
}
::-webkit-scrollbar-track:hover{
    background-color: #eee;
}
/* @import "/css/fontello.css"; */